<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>La Pepa</title>
    <meta data-react-helmet="true" charset="utf-8">
    <meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('frontend/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://use.fontawesome.com/7a3c980b3d.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/css/custom.css') }}" media="all">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/css/responsive.css') }}" media="all">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/plugins/bootstrap/css/bootstrap.min.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

</head>

<body>
<!-- banner -->
<div class="header-container">
    <div class="container">
        <div class="row text-center">

            <div class="la-logo-2 ">
                <a href="{{ path('homepage') }}"><img src="{{ asset('frontend/images/logo.png') }}" alt="La Pepa" class="img-responsive"></a>
            </div>

            <nav class="navbar navbar-inverse navbar-home">
                <ul class="nav navbar-nav inner-nav">
                    <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('menu') }}">Menu</a></li>
                    <li><a href="{{ path('reservation') }}">Reservation</a></li>
                    <li><a href="{{ path('contact') }}">Contact Us</a></li>
                    <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="account.php"><i class="icon-cog"></i>My Account</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li> -->
                    {#<li><a href="#login-box" class="login-window">Login</a></li>#}
                </ul>
            </nav>

            <div class="text-center z-index relative">
                <a href="{{ path('reservation') }}" class="btn btn-green btn btn-rounded fs-14">Book Table</a>
            </div>
        </div>
    </div>
</div>

<!-- Content Start -->
{% block body %}

{% endblock %}

<!-- Content End -->
<footer>
    <div class="text-center text-white fw-400 fs-12">Copyright © 2017 DesignR. | All rights reserved.</div>
</footer>

</body>
</html>