<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>La Pepa</title>
    <meta data-react-helmet="true" charset="utf-8">
    <meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('frontend/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://use.fontawesome.com/7a3c980b3d.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/css/custom.css') }}" media="all">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/css/responsive.css') }}" media="all">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/css/login.css') }}" media="all">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontend/plugins/bootstrap/css/bootstrap.min.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

</head>

<body onload="myPreloader()">
<div id="preloader"></div>
<!-- banner -->
<div class="main-banner" id="myDiv">
    <div class="pull-left padding-30" style="position: absolute; z-index: 1;">
        <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
        <span class="text-white fs-13" id="demo"></span>
        <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
    </div>
    <nav class="navbar navbar-inverse navbar-home">
        <div class="container-fluid no-padding">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-lg hidden-md" href="{{ path('homepage') }}"><img src="{{ asset('frontend/images/logo-white.png') }}" alt=""></a>
            </div>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="{{ path('menu') }}">Menu</a></li>
                    <li><a href="{{ path('reservation') }}">Reservation</a></li>
                    <li><a href="{{ path('contact') }}">Contact Us</a></li>
                    <!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="account.php"><i class="icon-cog"></i>My Account</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li> -->
                    {#<li><a href="#login-box" class="login-window">Login</a></li>#}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="la-logo section-logo">
                <a href="{{ path('homepage') }}"><img src="{{ asset('frontend/images/logo.png') }}" alt="" class="img-responsive"></a>
            </div>

            <div class="z-index relative">
                <p class="text-white finest-text">The Finest Place for the Traditional Italian Cuisine!</p>
            </div>

            <div class="text-center z-index relative m-t-30">
                <a href="{{ path('reservation') }}" class="btn btn-green btn btn-rounded fs-14">Book Table</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="featured-banner col-md-12 col-sm-12 col-xs-12"></div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {

        $('.tab a').on('click', function (e) {

            e.preventDefault();

            $(this).parent().addClass('active');
            $(this).parent().siblings().removeClass('active');

            target = $(this).attr('href');

            $('.tab-content > div').not(target).hide();

            $(target).fadeIn(600);

        });

        {% if flashReg[0]['registerAttempt'] is defined or flashLogin[0]['loginAttempt'] is defined %}

        $('#login-box').fadeIn(300);

        //Set the center alignment padding + border
        var popMargTop = ($('#login-box').height() + 24) / 2;
        var popMargLeft = ($('#login-box').width() + 24) / 2;

        $('#login-box').css({
            'margin-top' : -popMargTop,
            'margin-left' : -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);

        {% endif %}

        {% if flashLogin[0]['loginAttempt'] is defined %}

        $('#login').addClass('active');
        $('#signup').removeClass('active');

        $('#signup').hide();

        $('#login').fadeIn(600);

        {% endif %}

    });
</script>

<script>
    $(function() {
        $('.required-icon').tooltip({
            placement: 'left',
            title: 'Required field'
        });
    });
</script>

<script>
    var x=document.getElementById("demo");
    function getLocation(){
        if (navigator.geolocation){
            navigator.geolocation.getCurrentPosition(showPosition,showError);
        }
        else{
            x.innerHTML="Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position){
        lat=position.coords.latitude;
        lon=position.coords.longitude;
        displayLocation(lat,lon);
    }

    function showError(error){
        switch(error.code){
            case error.PERMISSION_DENIED:
                x.innerHTML="User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML="Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML="The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML="An unknown error occurred."
                break;
        }
    }

    function displayLocation(latitude,longitude){
        var geocoder;
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(latitude, longitude);

        geocoder.geocode(
            {'latLng': latlng},
            function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        var add= results[0].formatted_address ;
                        var  value=add.split(",");

                        count=value.length;
                        country=value[count-1];
                        state=value[count-2];
                        city=value[count-3];
                        x.innerHTML = "Your Current Location :  " + city;
                    }
                    else  {
                        x.innerHTML = "Address not found";
                    }
                }
                else {
                    x.innerHTML = "Geocoder failed due to: " + status;
                }
            }
        );
    }
    getLocation()
</script>
</html>