{% extends '::base2.html.twig' %}
{% block body %}
    <!-- Content Start -->
    <div id="content">
        <div class="container">
            <div class="col-lg-12 col-md-12 m-t-30 m-b-20">
                <h1 class="text-center">Contact Us</h1>
                <!--              <p class="text-center fs-18 fw-300">Be it a business meeting lunch, a family birthday dinner, anniversary or a proposal romantic dinner or any other event… We will make sure the atmosphere and dishes do the justice!</p>-->
            </div>

            <div class="row">
                <div class="col-sm-12 m-b-20 text-center">
                    <address class="fw-600">
                        La Pepa<br>
                        Chilaw - Colombo Main Rd,<br>
                        Wattala.
                    </address>
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i> : 0114246064 &nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> : infolapepa@gmail.com
                    </div>
                </div>

                <div class="col-sm-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.108847260333!2d79.89532951477328!3d6.996460794945898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2f7e82524bea5%3A0x63ed0465c9ed538a!2sLa+Pepa!5e0!3m2!1sen!2slk!4v1510989970662" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>

            <div class="row m-t-30">
                <div class="col-sm-12">
                    <form role="form" id="contact-form" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="inp" name="Name" autocomplete="off" id="Name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="inp" name="email" autocomplete="off" id="email" placeholder="E-mail">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="textarea" rows="8" name="Message" id="Message" placeholder="Message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-green btn-rounded fs-14 pull-right">Send a message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
{% endblock  %}