{% extends '::base2.html.twig' %}
{% block body %}
<!-- Content Start -->
<div id="content">
    <div class="container m-t-30 m-b-30">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-12 well admin-content" id="profile">
                <h2 class="fw-300">Forgot Password</h2>
                <hr>
                <span class="fs-12 text-grey">To reset your password, enter the email address you use to sign in to your account</span>
                <form class="m-t-30">
                    <div class="form-group">
                        <label class="lbl">Email</label><br>
                        <input type="text" class="inp">
                    </div>
                    <div>
                        <button class="btn btn-rounded btn-green-2">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
{% endblock  %}