{% extends '::base2.html.twig' %}
{% block body %}
<!-- Content Start -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 75px;">
                <div class="card">
                    <div class="box">
                        <img src="../../../web/frontend/images/pumpkinbranmiffins.jpg" width="100%">
                        <div class="text-block">
                            <h3 class="title m-t-15">PUMPKIN BRAN MUFFINS</h3>
                            <h4 class="price"><span class="old">4,30 €</span> 2,30 €</h4>
                            <p class="description">
                                These pumpkin bran muffins are a great option to have available for holiday bakers as they satisfy your sweet tooth while still having some nutritional value.
                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 75px;">
                <div class="card">
                    <div class="box">
                        <img src="../../../web/frontend/images/shortribs5.jpg" width="100%" alt=""/>
                        <div class="text-block">
                            <h3 class="title m-t-15">ITALIAN BEEF SHORT RIBS</h3>
                            <h4 class="price"><span class="old">4,30 €</span> 2,30 €</h4>
                            <p class="description">
                                This combination adds vibrancy to heavy meat dishes such as this one and seems to bring out the flavor of the meat.
                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 75px;">
                <div class="card">
                    <div class="box" >
                        <img src="../../../web/frontend/images/capresechicken5.jpg" width="100%" alt=""/>
                        <div class="text-block">
                            <h3 class="title m-t-15">BAKED CHICKEN CAPRESE</h3>
                            <h4 class="price"><span class="old">4,30 €</span> 2,30 €</h4>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 75px;">
                <div class="card">
                    <div class="box">
                        <img src="../../../web/frontend/images/zucchsalad2.jpg" width="100%" alt=""/>
                        <div class="text-block">
                            <h3 class="title m-t-15">ZUCCHINI RIBBON SALAD</h3>
                            <h4 class="price"><span class="old">4,30 €</span> 2,30 €</h4>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 75px;">
                <div class="card">
                    <div class="box">
                        <img src="../../../web/frontend/images/puttanesca1.jpg" width="100%" alt=""/>
                        <div class="text-block">
                            <h3 class="title m-t-15">SPAGHETTI ALLA PUTTANESCA</h3>
                            <h4 class="price"><span class="old">4,30 €</span> 2,30 €</h4>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 75px;">
                <div class="card">
                    <div class="box">
                        <img src="../../../web/frontend/images/asparaguspuffs10.jpg" width="100%" alt=""/>
                        <div class="text-block">
                            <h3 class="title m-t-15 truncate">CHEESE PUFFS</h3>
                            <h4 class="price"><span class="old">4,30 €</span> 2,30 €</h4>
                            <p class="description">
                                This easy recipe wraps squares of puff pastry around lightly blanched asparagus spears, pieces of ham, and cheese.
                            </p>
                        </div>
                    </div>
                    <div class="buttons">
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content End -->
{% endblock  %}