{% extends '::base2.html.twig' %}
{% block body %}
<!-- Content Start -->
<div id="content">
    <div class="container">
        <h1 class="text-center">Table Reservation</h1>

        <h4>Book your table</h4>
        <hr>
        <div class="row m-t-15">
            <div class="col-md-3">
                <address class="fw-600">
                    La Pepa<br>
                    Chilaw - Colombo Main Rd,<br>
                    Wattala.
                </address>
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i> : 0114246064<br>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i> : infolapepa@gmail.com
                </div>
            </div>
            <div class="col-md-9 bl">
                {% for flashMessage in app.session.flashbag.get('success') %}

                    <div class="row">
                        <div class="col-md-6" style="margin: 10px 0 -10px 0;">
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Alert!</h4>
                                {{ flashMessage }}
                            </div></div>
                        <div class="col-md-6"></div>
                    </div>
                {% endfor %}

                        {{ form_start(form) }}
                        <div class="box-body">
                            <div id="fr1">
                                <div class="form-group col-lg-6">
                                    {{ form_row(form.date) }}
                                </div>
                                <div class="form-group col-lg-6">
                                    {{ form_row(form.time) }}
                                </div>
                                <div class="form-group col-lg-6">
                                    {{ form_row(form.session, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group col-lg-6">
                                    {{ form_row(form.guests, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>

                            <!-- /.box-body -->
                            <div class="box-footer col-lg-12">
                                <input type="button" id="btnNext" class="btn btn-green btn btn-rounded fs-14 pull-right" value="Next">
                            </div>
                            <!-- /.box-footer -->

                            <div id="fr2" style="display: none;">
                                <div class="form-group">
                                    {{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.lastName, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.telephone, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.note, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <input type="submit" id="btnPrevious" class="btn btn-green btn btn-rounded fs-14 pull-right" value="Book Now">
                                    <input type="submit" id="btnBack" class="btn btn-green btn btn-rounded fs-14 pull-right" value="Back">
                                </div>
                                <!-- /.box-footer -->
                            </div>
                        </div>


                        {{ form_end(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <script>
        $(document).ready(function(){
            $("#btnNext").click(function(){
                $("#fr1").hide();
                $("#btnNext").hide();
                $("#fr2").show();
            });
//            $("#show").click(function(){
//                $("p").show();
//            });
        });
        $(document).ready(function(){
            $("#btnBack").click(function(){
                $("#fr1").show();
                $("#btnNext").show();
                $("#fr2").hide();
            });
        });
    </script>
<!-- Content End -->
{% endblock  %}