a {
  text-decoration: none;
  color: #1a78b1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #1a78b1;
}

.form {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  width: 350px !important;
  max-width: 350px !important;
  margin: 20px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/*.form {
    background: rgba(19, 35, 47, 0);
    padding: 40px;
    max-width: 600px !important;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 1px 10px 1px rgba(255, 255, 255, 0.3);
}*/
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  background: rgba(128, 128, 128, 0.25);
  color: #000000;
  font-size: 16px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #1a78b1;
  color: #ffffff;
}
.tab-group .active a {
  background: #1a78b1;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

label {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 14px;
  font-weight: 300 !important;
}
label .req {
  margin: 2px;
  font-size: 18px;
  color: #b11a1a;
}

/*label.active {
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  left: 2px;
  font-size: 14px;
}*/
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #808080;
}

input, textarea {
  font-size: 12px !important;
  font-weight: 200 !important;
  display: block;
  width: 100%;
  height: 33px;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #cacaca;
  color: #333 !important;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}


textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 10px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 10px 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1a78b1;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #1a78b1;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  font-size: 12px;
  text-align: right;
}

#mask {
  display: none;
  background: #000;
  position: fixed; left: 0; top: 0;
  z-index: 10;
  width: 100%; height: 100%;
  opacity: 0.8;
  z-index: 999;
}

.login-popup{
  display:none;
  padding: 10px;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
}

@media screen and (max-width:320px){
  .form {
    width: 300px !important;
    max-width: 300px !important;
  }
}

/* Required field START */

.required-field-block {
  position: relative;
}

.required-field-block .required-icon {
  display: inline-block;
  vertical-align: middle;
  margin: -0.25em 0.25em 0em;
  background-color: #E8E8E8;
  border-color: #E8E8E8;
  padding: 0.5em 0.8em;
  color: rgba(0, 0, 0, 0.65);
  text-transform: uppercase;
  font-weight: normal;
  border-radius: 0.325em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  transition: background 0.1s linear;
  font-size: 75%;
}

.required-field-block .required-icon {
  background-color: transparent;
  position: absolute;
  top: 0em;
  right: 0em;
  z-index: 10;
  margin: 0em;
  width: 30px;
  height: 30px;
  padding: 0em;
  text-align: center;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
  position: absolute;
  content: "";
  right: 1px;
  top: 1px;
  z-index: -1;
  width: 0em;
  height: 0em;
  border-top: 0em solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
  color: #B80000;
  font-size: 22px;
  margin: -3px 0 0 12px;
}
/* Required field END */
