@media screen and (max-width: 1024px){
	.gradient-bg {
		padding: 55px !important;
	}
}

@media screen and (max-width:768px){
	.banner-section {
		padding-bottom: 25px;
		padding-top: 0;
	}
	.gradient-blue{
		background: none;
	}
	.main-banner .payment-form h1 {
		font-size: 30px;
	}
	.main-banner .payment-form h4 {
		font-size: 10.5px;
	}
	.navbar-brand {
		padding: 10px 15px !important;
		display: none;
	}
	.navbar-brand img {
		height: 30px;
	}
	.navbar-first li a {
		color: #032575 !important;
		font-size: 13px;
	}
	.navbar-second li a {
		color: #032575 !important;
		font-size: 13px;
	}
	.dropdown-menu {
		background-color: rgb(245, 245, 245) !important;
		box-shadow: none !important;
	}
	.dropdown ul.dropdown-menu:before {
		border-bottom: 10px solid rgb(245, 245, 245);
	}
	.navbar-third>li>a:focus, .navbar-third>li>a:hover {
		text-decoration: none;
		background-color: #edf1f5 !important;
	}
}

@media screen and (max-width:767px){
	.navbar-nav .open .dropdown-menu>li>a{
		font-size: 13px;
		padding: 15px 50px !important;
	}
	.dropdown ul.dropdown-menu:before{
		content: none;
	}
	.inner-nav {
		width: auto;
		margin: auto !important;
		float: none !important;
	}
}

@media (max-width: 413px){
	.col-xs-m-12{
		width: 100% !important;
	}
}